.tabs-titles {
  border: 1px solid black;

  .tab-title {
    cursor: pointer;

    &:hover {
      background-color: pink;
    }

    &.active {
      background-color: turquoise;
    }

  }
}
.content-container {
  border: 1px solid green;
}
